name: Manual Build and Package

on:
  workflow_dispatch # Это добавит кнопку "Run workflow" для ручного запуска

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'
      - name: Build with Gradle (shadowJar)
        run: ./gradlew shadowJar -x test
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: compiled-plugin-jar
          path: '**/build/libs/*.jar' # Ищет все JARы в папках build/libs
